<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= result[0].Country %>'s cases</title>
  </head>
  <body>
    <% result.forEach((item)=> { %>
    <div>
      <h2>cases: <%= item.Cases %></h2>
      <p>Date: <%= item.Date %></p>
    </div>
    <% }) %>
  </body>
</html>
